@layer component {
  .button {
    --button-padding: var(--spacing-md) var(--spacing-xl);
    --button-background-color: var(--strong-branded-surface);
    --button-border-color: var(--strong-branded-surface);
    --button-radius: var(--radius-md);

    --button-height: var(--control-size-md);

    height: var(--button-height);
    padding: var(--button-padding);
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    color: var(--text);
    border-radius: var(--button-radius);
    font-size: var(--font-size-body-regular);
    font-weight: var(--font-heavy);
    cursor: pointer;
    corner-shape: squircle;
  }

  .button:hover {
    background-opacity: 0.8;
  }

  .button[data-size="sm"] {
    --button-padding: var(--spacing-sm) var(--spacing-lg);
    --button-radius: var(--radius-sm);
    --button-height: var(--control-size-sm);
  }

  .button[data-size="lg"] {
    --button-padding: var(--spacing-lg) var(--spacing-xxl);
    --button-radius: var(--radius-lg);
    --button-height: var(--control-size-lg);
  }

  .button[data-variant="subtle"] {
    --button-background-color: var(--elevated-surface);
    --button-border-color: var(--stroke);
  }

  .button[data-variant="alternative"] {
    --button-background-color: var(--alt-strong-branded-surface-01);
    --button-border-color: var(--alt-strong-branded-surface-01);
  }

  .button[data-variant="outline"] {
    --button-background-color: transparent;
    --button-border-color: var(--subtle-stroke);
  }

  .button[data-variant="negative"] {
    --button-background-color: var(--negative-surface);
    --button-border-color: var(--negative-surface);
  }

  .button[data-variant="ghost"] {
    --button-background-color: transparent;
    --button-border-color: transparent;
  }

  .button[data-variant="ghost"]:hover {
    --button-background-color: var(--weak-branded-surface);
  }

  .badge {
    --badge-padding: var(--spacing-xs) var(--spacing-md);
    --badge-background-color: var(--surface);
    --badge-border-color: var(--stroke);
    --badge-radius: var(--radius-sm);

    display: inline-flex;
    align-items: center;
    padding: var(--badge-padding);
    background-color: var(--badge-background-color);
    border: 1px solid var(--badge-border-color);
    border-radius: var(--badge-radius);
    color: var(--text);
    font-size: var(--font-size-eyebrow);
    font-weight: var(--font-semibold);
    letter-spacing: 0.453px;
    text-transform: uppercase;
    corner-shape: squircle;
  }

  .badge[data-variant="inverted"] {
    --badge-background-color: var(--inverted-surface);
    --badge-border-color: var(--inverted-surface);
    color: var(--text-on-inverted-surface);
  }

  .badge[data-variant="brand"] {
    --badge-background-color: var(--strong-branded-surface);
    --badge-border-color: var(--strong-branded-surface);
  }

  .badge[data-variant="brand-alt-1"] {
    --badge-background-color: var(--alt-strong-branded-surface-01);
    --badge-border-color: var(--alt-strong-branded-surface-01);
  }

  .badge[data-variant="brand-alt-2"] {
    --badge-background-color: var(--alt-strong-branded-surface-02);
    --badge-border-color: var(--alt-strong-branded-surface-02);
  }

  .badge[data-variant="success"] {
    --badge-background-color: var(--positive-surface);
    --badge-border-color: var(--positive-surface);
  }

  .badge[data-variant="warning"] {
    --badge-background-color: var(--warning-surface);
    --badge-border-color: var(--warning-surface);
  }

  .badge[data-variant="negative"] {
    --badge-background-color: var(--negative-surface);
    --badge-border-color: var(--negative-surface);
  }

  .card {
    --card-padding: 0;
    --card-background-color: var(--surface);
    --card-border-color: var(--stroke);
    --card-radius: var(--radius-lg);

    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-radius);
    color: var(--text);
    corner-shape: squircle;
  }

  .card[data-variant="brand"] {
    --card-background-color: var(--weak-branded-surface);
    --card-border-color: var(--branded-stroke-01);
  }

  .card[data-variant="brand-alt-1"] {
    --card-background-color: var(--alt-weak-branded-surface-01);
    --card-border-color: var(--branded-stroke-02);
  }

  .card[data-variant="brand-alt-2"] {
    --card-background-color: var(--alt-weak-branded-surface-02);
    --card-border-color: var(--branded-stroke-03);
  }

  .input {
    --input-padding: var(--spacing-md) var(--spacing-xl);
    --input-height: var(--control-size-md);
    --input-border-color: var(--stroke);
    --input-radius: var(--radius-md);

    height: var(--input-height);
    padding: var(--input-padding);
    background-color: var(--surface);
    border: 1px solid var(--input-border-color);
    color: var(--text);
    border-radius: var(--input-radius);
    font-size: var(--font-size-body-regular);
    outline-color: var(--input-border-color);
    outline-width: 0px;

    corner-shape: squircle;
  }

  .input:focus {
    --input-border-color: var(--interactive-text);
  }

  .input:disabled {
    --input-border-color: var(--subtle-stroke);
    background-color: var(--alt-surface);
    color: var(--disabled-text);
    cursor: not-allowed;
  }

  .input:disabled::placeholder {
    color: var(--disabled-text);
  }

  .input::placeholder {
    color: var(--subtle-text);
  }

  .input[data-size="sm"] {
    --input-padding: var(--spacing-sm) var(--spacing-lg);
    --input-height: var(--control-size-sm);
    --input-radius: var(--radius-sm);
  }

  .input[data-size="lg"] {
    --input-padding: var(--spacing-lg) var(--spacing-xxl);
    --input-height: var(--control-size-lg);
    --input-radius: var(--radius-lg);
  }

  .input[data-err] {
    --input-border-color: var(--negative-stroke);
  }

  .textarea {
    --textarea-padding: var(--spacing-md) var(--spacing-xl);
    --textarea-border-color: var(--stroke);
    --textarea-radius: var(--radius-md);

    padding: var(--textarea-padding);
    background-color: var(--surface);
    border: 1px solid var(--textarea-border-color);
    color: var(--text);
    border-radius: var(--textarea-radius);
    font-size: var(--font-size-body-regular);
    outline-color: var(--textarea-border-color);
    outline-width: 0px;

    corner-shape: squircle;
  }

  .textarea:focus {
    --textarea-border-color: var(--interactive-text);
  }

  .textarea:disabled {
    --textarea-border-color: var(--subtle-stroke);
    background-color: var(--alt-surface);
    color: var(--disabled-text);
    cursor: not-allowed;
  }

  .textarea:disabled::placeholder {
    color: var(--disabled-text);
  }

  .textarea::placeholder {
    color: var(--subtle-text);
  }

  .textarea[data-size="sm"] {
    --textarea-padding: var(--spacing-sm) var(--spacing-lg);
    --textarea-radius: var(--radius-sm);
  }

  .textarea[data-size="lg"] {
    --textarea-padding: var(--spacing-lg) var(--spacing-xxl);
    --textarea-radius: var(--radius-lg);
  }

  .textarea[data-err] {
    --textarea-border-color: var(--negative-stroke);
  }
}
